@model IEnumerable<btvn_19_10_2024_NguyenDuyHung.Models.NhanVien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="/NhanVien/TimKiemTheoPhong" method="post">
    <div class="form-group">
        <label for="tenPhong">Nhập tên phòng:</label>
        <input type="text" name="tenPhong" class="form-control" id="tenPhong" placeholder="Tên phòng">
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>

@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form action="/NhanVien/NhanVienNu" method="get">
    <button type="submit" class="btn btn-primary">Hiển thị nhân viên nữ</button>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.heSoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.luong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenPhong)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.heSoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.luong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenPhong)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.maNhanVien }) |
                @Html.ActionLink("Details", "Details", new { id = item.maNhanVien }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.maNhanVien })
            </td>
        </tr>
    }

</table>

<form action="/NhanVien/TongLuongTheoPhong" method="post">
    <div class="form-group">
        <label for="tenPhong">Nhập tên phòng:</label>
        <input type="text" name="tenPhong" class="form-control" id="tenPhong" placeholder="Tên phòng">
    </div>
    <button type="submit" class="btn btn-primary">Tính tổng lương</button>
</form>

@if (ViewBag.TongLuong != null)
{
    <h3>Tổng lương của phòng: @ViewBag.TongLuong</h3>
}
